body {background-color: azure;}
h1{font-size: 36px; color: rgb(75, 61, 61); text-align: center; font-weight: bold;}
h2{font-size: 36px; color: gray;}
#paragraph1{text-align: center;}
#paragraph3{text-align: center; padding-top: 60px;}

   